<div data-role="page" class="ipadBdy">

<style type="text/css">
* {
  margin:0;
  padding:0;
 
}
.ipadBdy{
  background:transparent url(/public/images/bg.png) repeat 0 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#3d3e42;
}
</style>

      <div class="pageTitle">
      <h1><font size="3">Products</font></h1>
      </div>
        
      <div class="toolbar">
        <div class="leftItem backButton" >
             <a class="slide" href="<%= url_for :controller=>:Products,:action => :offlineProducts,:id=>$off_catg_id %>" style = "color:#FAFAD2"><font size="2" face="verdana">Back</font></a>
         </div>
        <div class="rightItem blueButton" >
             <a class="slide" href="<%= url_for :action => :goto_offlogin %>" style = "color:#FAFAD2"><font size="2" face="verdana">Check Out</font></a>
         </div>
        
      </div>
      
      <div class="content">

                <ul>
                    <p><font size= "2.5" color="red">Your cart will be validated against availability once you check out,as it is a offline cart and you need to re-login.</font></p>
                     <% (0.. ($offlinecart.length - 1)).each do |i|  %>
                       <li>
                          <form method="POST" action="<%= url_for :action => :delete_from_cart, :id=> $offlinecart[i] %>" >
                              <table>
                                   <tr>
                                     <td height="10px" width="70%">
                                       <font size="1"><span class="title"><%= $offlinecart[i] %></span></font>
                                     </td>
                                   </tr>
                                   <tr>
                                     <td height="10px" width="70%">
                                         <label for="login" class="itemLabel"><%= "Quantity: "+$offlineProductsCodeNameQuantity[$offlinecart[i]].to_s %></label>
                                     </td>
                                     <td height="10px" width="30%">       
                                        <font size="1"> <input type="submit" value="Delete"/> </font>                       
                                     </td>
                                     </tr>
                                     <tr>
                                     <td height="10px" width="70%">
                                         <label for="login" class="itemLabel"><%= "Total Price: "+$totalprice[i].to_s+".00" %></label>
                                     </td>
                                   </tr>    
                              </table>         
                          </form>
                        </li>
                  
                     <% end %>
                  </ul>
        
      </div>
</div>
